h1{
  font-weight:100;
}
h3{
  font-size: 18px;
  font-weight:100;
}

.App {
  text-align: center;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App .source_link {
  text-decoration: none;
  display: inline-block;
  color: #666;
  font-size: 18px;
  margin-top: 30px;
}

.App .source_link:hover {
  text-decoration: underline;
}

.App .source_link:visited {
  color: #666;
}

.App .square{
  background-color: #fff;
  max-width: 460px;
  min-width: 400px;
  width: 100%;
  height:auto;
  margin: auto;
  position: relative;
  cursor: move;
}

.App .square .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.App .square .drag-icon{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  display: block;
  width: 35px;
  margin: auto;
}

.App .square .frame{
  width: 100%;
  height: auto;
  display: block;
}